.toolbar-icon-admin-toolbar-tools-help {
  text-indent: -9999px;
}

.toolbar-icon-admin-toolbar-tools-help:before {
  box-sizing: content-box;
  background-image: url(/modules/contrib/admin_toolbar/admin_toolbar_tools/css/../misc/icons/ffffff/d8-item.svg);
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 2px;
}

.toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-admin-toolbar-tools-help.active:before {
  background-image: url(/modules/contrib/admin_toolbar/admin_toolbar_tools/css/../misc/icons/ffffff/d8-item.svg);
}
