@font-face {
  font-family: 'oswaldregular';
  font-style: normal;
  font-weight: normal;
  src: url('/themes/zircon/includes/fonts/oswald_regular/oswald-webfont.eot?#iefix') format('embedded-opentype'), url('/themes/zircon/includes/fonts/oswald_regular/oswald-webfont.woff') format('woff'), url('/themes/zircon/includes/fonts/oswald_regular/oswald-webfont.ttf') format('truetype'), url('/themes/zircon/includes/fonts/oswald_regular/oswald-webfont.svg#oswaldregular') format('svg');
}
