/* */
/*  */
/* line 12, ../sass/includes/_include.scss */
.box_shadow {
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
}

/* line 16, ../sass/includes/_include.scss */
.border_radius, #comments .comment, .comment, #comment-form .comment.preview,
.comment-form .comment.preview {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 21, ../sass/includes/_include.scss */
.font_oswald {
  font-family: 'oswaldregular';
}

/* BUTTON */
/* line 27, ../sass/includes/_include.scss */
.form-actions .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 36, ../sass/includes/_include.scss */
.form-actions .form-submit:hover, .form-actions .form-submit:focus {
  background-color: #555555;
}

/* line 41, ../sass/includes/_include.scss */
.font_awesome, ul.inline .node-readmore a:before,
ul.links.inline .node-readmore a:before, .views-field-view-node a:before, #comments .indented:before, .btn-btt:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* line 3, ../sass/page.scss */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* view */
/* line 8, ../sass/page.scss */
h1.page-title {
  font-size: 2.571em;
}

/* line 13, ../sass/page.scss */
.view .views-field {
  margin-bottom: 5px;
}

/* line 18, ../sass/page.scss */
.field-item {
  margin-bottom: 15px;
}

/* main */
/* line 24, ../sass/page.scss */
.submitted,
.node__meta {
  color: #999999;
  font-size: 0.923em;
  margin-bottom: 15px;
}

/* line 30, ../sass/page.scss */
.field-type-image {
  margin-bottom: 15px;
}
/* line 32, ../sass/page.scss */
.field-type-image img {
  border: 1px solid #dadada;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
}

/* line 42, ../sass/page.scss */
ul.inline li,
ul.links.inline li {
  display: inline-block;
  padding: 0;
  margin: 0 5px 7px 0;
  color: #999999;
  font-size: 0.92em;
}
/* line 48, ../sass/page.scss */
ul.inline li a,
ul.links.inline li a {
  display: inline-block;
  padding: 4px 10px;
  color: white;
  background: #555555;
  vertical-align: middle;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 57, ../sass/page.scss */
ul.inline li a:hover, ul.inline li a:focus,
ul.links.inline li a:hover,
ul.links.inline li a:focus {
  background: #c01700;
  color: white;
}
/* line 64, ../sass/page.scss */
ul.inline .node-readmore a,
ul.links.inline .node-readmore a {
  padding-left: 17px;
  position: relative;
  color: #999999;
  background: none;
}
/* line 69, ../sass/page.scss */
ul.inline .node-readmore a:before,
ul.links.inline .node-readmore a:before {
  content: "\f0fe";
  position: absolute;
  left: 0;
  top: 7px;
}
/* line 77, ../sass/page.scss */
ul.inline .node-readmore a:hover, ul.inline .node-readmore a:focus,
ul.links.inline .node-readmore a:hover,
ul.links.inline .node-readmore a:focus {
  color: #c01700;
  background: none;
}

/* line 85, ../sass/page.scss */
.views-field-view-node {
  margin-bottom: 0 !important;
}
/* line 87, ../sass/page.scss */
.views-field-view-node a {
  display: inline-block;
  padding: 4px 0 4px 17px;
  position: relative;
  color: #999999;
}
/* line 92, ../sass/page.scss */
.views-field-view-node a:before {
  content: "\f0fe";
  position: absolute;
  left: 0;
  top: 8px;
}
/* line 100, ../sass/page.scss */
.views-field-view-node a:hover, .views-field-view-node a:focus {
  color: #c01700;
}

/* search */
/* line 109, ../sass/page.scss */
#edit-keywords-fieldset .fieldset-wrapper label {
  min-width: 200px;
}

/* contact */
/* line 116, ../sass/page.scss */
.contact-message-feedback-form {
  padding-top: 10px;
}
/* line 118, ../sass/page.scss */
.contact-message-feedback-form label {
  min-width: 140px;
}

/* comment */
/* line 124, ../sass/page.scss */
.field-node--comment {
  clear: both;
  border-top: 1px solid #dadada;
  padding-top: 30px;
  margin-top: 30px;
}

/* line 131, ../sass/page.scss */
#comments {
  border-top: 1px solid #dadada;
  padding-top: 20px;
  margin-top: 30px;
  border-top-style: dotted;
}
/* line 136, ../sass/page.scss */
#comments label {
  min-width: 100px;
}
/* line 139, ../sass/page.scss */
#comments .comment {
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 15px;
}
/* line 144, ../sass/page.scss */
#comments .comment h3 {
  font-size: 1.38em;
}
/* line 148, ../sass/page.scss */
#comments .indented {
  margin-left: 30px;
  position: relative;
}
/* line 151, ../sass/page.scss */
#comments .indented:before {
  content: "\f062";
  position: absolute;
  left: -20px;
  top: 0;
}

/* line 162, ../sass/page.scss */
.comment h3 {
  font-size: 1.428em;
  margin-bottom: 5px;
}

/* line 168, ../sass/page.scss */
.comment {
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 30px !important;
}
/* line 174, ../sass/page.scss */
.comment mark,
.comment .mark {
  float: right;
  margin: 0 0 5px 10px;
}
/* line 178, ../sass/page.scss */
.comment .comment__submitted {
  margin-bottom: 5px;
}

/* line 185, ../sass/page.scss */
#comment-form .comment.preview,
.comment-form .comment.preview {
  padding: 15px;
  border: 1px solid #DCD7BB;
}
/* line 190, ../sass/page.scss */
#comment-form label,
.comment-form label {
  min-width: 100px;
}

/* pager */
/* line 197, ../sass/page.scss */
.pager .pager__items {
  text-align: right;
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding-top: 15px;
  padding-left: 0;
}
/* line 203, ../sass/page.scss */
.pager .pager__items li {
  margin: 0 0 5px 2px;
  padding: 0;
  display: inline-block;
  font-size: 0.923em;
}
/* line 209, ../sass/page.scss */
.pager .pager__items li > a,
.pager .pager__items li > span {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 7px;
  color: #333;
  background: #ccc;
  border: none;
}
/* line 217, ../sass/page.scss */
.pager .pager__items li > a:hover, .pager .pager__items li > a:focus,
.pager .pager__items li > span:hover,
.pager .pager__items li > span:focus {
  background: #555555;
  color: #fff;
}
/* line 224, ../sass/page.scss */
.pager .pager__items .is-active a {
  background: none;
  color: #c01700;
  padding: 0;
}
/* line 229, ../sass/page.scss */
.pager .pager__items .is-active a:hover, .pager .pager__items .is-active a:focus {
  color: #c01700;
  background: none;
}

/* .slick-slider */
/* line 240, ../sass/page.scss */
.page .slider {
  margin-bottom: 0;
  padding: 0 25px;
}
/* line 243, ../sass/page.scss */
.page .slider .views-field {
  margin-bottom: 0;
}
/* line 246, ../sass/page.scss */
.page .slider .views-field-field-image {
  padding: 0 7px;
}
/* line 249, ../sass/page.scss */
.page .slider .views-field-field-image img {
  border: 2px solid #fff;
}
/* line 254, ../sass/page.scss */
.page .slider .views-field-field-image:hover, .page .slider .views-field-field-image:focus {
  overflow: hidden;
}
/* line 256, ../sass/page.scss */
.page .slider .views-field-field-image:hover img, .page .slider .views-field-field-image:focus img {
  border: 2px solid #999;
}
/* line 261, ../sass/page.scss */
.page .slider .slick-prev {
  left: -7px;
}
/* line 265, ../sass/page.scss */
.page .slider .slick-prev,
.page .slider .slick-next {
  margin-top: -16px;
  height: 28px;
  width: 28px;
  opacity: 0.6;
}
/* line 270, ../sass/page.scss */
.page .slider .slick-prev:before,
.page .slider .slick-next:before {
  font-size: 30px;
}
/* line 274, ../sass/page.scss */
.page .slider .slick-prev:hover, .page .slider .slick-prev:focus,
.page .slider .slick-next:hover,
.page .slider .slick-next:focus {
  opacity: 1;
}
/* line 278, ../sass/page.scss */
.page .slider .slick-next {
  right: -5px;
}
/* line 281, ../sass/page.scss */
.page .slider .slick-dots {
  display: none !important;
}

/* search */
/* line 288, ../sass/page.scss */
.search-results {
  padding: 0;
}
/* line 290, ../sass/page.scss */
.search-results h3 {
  font-size: 1.38em;
}
/* line 293, ../sass/page.scss */
.search-results .search-info {
  font-size: 0.923em;
  color: #999999;
}
/* line 297, ../sass/page.scss */
.search-results li {
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding: 20px 0 10px 0 !important;
  margin-bottom: 20px;
}
/* line 302, ../sass/page.scss */
.search-results li:first-child {
  padding-top: 0 !important;
  border-top: none;
}
/* line 307, ../sass/page.scss */
.search-results li:hover .search-result__title a, .search-results li:focus .search-result__title a {
  color: #c01700;
}

/* forum */
/* line 316, ../sass/page.scss */
#main .forum table {
  margin-bottom: 20px;
  width: 100%;
}
/* line 320, ../sass/page.scss */
#main .forum th {
  background: #555555;
  padding: 7px 10px;
  color: white;
}
/* line 324, ../sass/page.scss */
#main .forum th a {
  color: white;
}
/* line 327, ../sass/page.scss */
#main .forum th img {
  margin-left: 3px;
}
/* line 330, ../sass/page.scss */
#main .forum th:first-child {
  width: 60%;
}
/* line 334, ../sass/page.scss */
#main .forum td {
  padding: 7px 10px;
  border-bottom: 1px solid #dadada;
  border-bottom-style: dotted;
  white-space: normal;
}
/* line 339, ../sass/page.scss */
#main .forum td .name {
  font-weight: bold;
}
/* line 343, ../sass/page.scss */
#main .forum td.container {
  background: #ddd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0.75em 5px 0.75em 25px;
  border-radius: 0;
  box-shadow: none;
}
/* line 351, ../sass/page.scss */
#main .forum tr.odd {
  background: #f7f7f7;
}

/* book */
/* line 358, ../sass/page.scss */
.book-navigation .menu {
  margin: 0 0 20px 20px;
  padding: 0;
}
/* line 361, ../sass/page.scss */
.book-navigation .menu li {
  list-style: disc;
}
/* line 365, ../sass/page.scss */
.book-navigation .book-pager {
  border-top: 1px solid #dadada;
  border-top-style: dotted;
  padding: 15px 0 0;
}

/* line 372, ../sass/page.scss */
.field-name-field-category {
  margin-bottom: 15px;
}

/* back to top */
/* line 377, ../sass/page.scss */
.btn-btt {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 50%;
  background: #333;
  text-align: center;
  opacity: 0.8;
  bottom: 20px;
  right: 20px;
  color: #eee;
  display: none;
}
/* line 391, ../sass/page.scss */
.btn-btt:before {
  content: "\f062";
  font-size: 1.23em;
  margin-top: 12px;
}
/* line 398, ../sass/page.scss */
.btn-btt:hover, .btn-btt:focus {
  outline: none;
  opacity: 1;
  color: #fff;
}

/* line 405, ../sass/page.scss */
.map {
  padding-top: 20px;
  border-top: 1px solid #dadada;
  border-top-style: dotted;
}

/* search */
/* line 412, ../sass/page.scss */
#search-form {
  margin: 20px 0;
}
/* line 414, ../sass/page.scss */
#search-form .form-submit {
  margin-left: 0;
  border: none;
  padding: 7px 20px;
  color: #fff;
  background: #c01700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}
/* line 424, ../sass/page.scss */
#search-form .form-submit:hover, #search-form .form-submit:focus {
  background-color: #555555;
}

/* line 430, ../sass/page.scss */
#search-form + h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* tags */
/* line 436, ../sass/page.scss */
.field-node--field-tags {
  margin-bottom: 15px;
}
/* line 50, ../sass/includes/_include.scss */
.field-node--field-tags:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/* line 439, ../sass/page.scss */
.field-node--field-tags .field-label {
  float: left;
  margin: 0 5px 5px 0;
}
/* line 444, ../sass/page.scss */
.field-node--field-tags .field-item {
  display: inline-block;
  margin: 0 5px 5px 0;
}
/* line 447, ../sass/page.scss */
.field-node--field-tags .field-item a {
  border-bottom: 1px dotted #999;
}
/* line 450, ../sass/page.scss */
.field-node--field-tags .field-item a:hover, .field-node--field-tags .field-item a:focus {
  border-bottom-color: #c01700;
}

/* line 457, ../sass/page.scss */
.form-wrapper .tips {
  margin-left: 15px;
}

/* line 461, ../sass/page.scss */
.form-item .label {
  color: #555555;
  font-size: 100%;
  padding-left: 0;
  font-weight: normal;
}

/* line 470, ../sass/page.scss */
.node .node__content .field--name-field-image {
  background: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
/* line 478, ../sass/page.scss */
.node.node--view-mode-full .field--name-field-image {
  float: none;
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
}
/* line 484, ../sass/page.scss */
.node.node--view-mode-full .field--type-comment {
  margin-top: 20px;
}
/* line 486, ../sass/page.scss */
.node.node--view-mode-full .field--type-comment h2.title {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #dadada;
}
/* line 491, ../sass/page.scss */
.node.node--view-mode-full .field--type-comment .indented {
  background: url("/themes/zircon/css/../images/indent-tree.gif") no-repeat scroll left top;
  margin-left: 0;
  padding-left: 30px;
  position: relative;
}
