.config-inspector-error .icon {
  background: no-repeat center;
  width: 16px;
}
.config-inspector-error .icon {
  background-image: url(/modules/contrib/config_inspector/css/../icons/error.svg);
}
.no-svg .config-inspector-error .icon {
  background-image: url(/modules/contrib/config_inspector/css/../icons/error.png);
}
