@font-face {
  font-family: 'Pacifico';
  src: url('/themes/zircon/includes/slick/css/pacifico.eot');
  src: url('/themes/zircon/includes/slick/css/pacifico.eot?#iefix') format('embedded-opentype'),
       url('/themes/zircon/includes/slick/css/pacifico.woff') format('woff'),
       url('/themes/zircon/includes/slick/css/pacifico.ttf') format('truetype'),
       url('/themes/zircon/includes/slick/css/pacifico.svg#Pacifico') format('svg');
}
